/* This is a colour of headers */
:root{
    --header-color: #3A3A3A;
    --btn-color: #E02C6D;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 50px auto;
}

.nav-name{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.85rem;
  color: var(--header-color);
 }              /* customization of INFLUENCER */

.nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    font-style: normal;
    padding: 10px;
}                 /* Home-Sign in-log In */
.nav-img-1, .nav-img-2{
    width: 40px;
    height: 40px;
}

.after-response-nav{
    display: none;
}

.nav-img-3, .nav-img-4{
    display: none;
    width: 35px;
    height: 35px;
}
.nav-option div a {
    text-decoration: none;
    color: var(--header-color);
    
}

/* section customization start */
/* section-info-1 customization start */

.first-section{
    margin-top: 115px;
}

.section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
}
.section-info-1{
    max-width: 585px;
}

.section-info-1 h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.15rem;
    color: var(--header-color);
    margin-bottom: 25px;
}
.section-info-1 p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--header-color);
    margin-bottom: 35px;
  
}
.section-btn{
    background-color: var(--btn-color);
    color: white;
    border: 0px;
    border-radius: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    padding: 20px 50px;
}

/* section-info-2 customization start */

.section-info-2{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-camera{
    position: absolute;
}
.background-circle{
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 576px) {
    .nav-img-3,
    .nav-img-4{
    display: block;
    width: 32px;
    height: 32px;
    }
    .nav-option,
    .nav-container{
        display: none;
    }
    .after-response-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0px auto;
    } 
    /* .section-container-rseponsive */
    .section-container{
        flex-direction: column-reverse
    }
    .section-info-1{
        text-align: center;
    }
    .section-info-1 h2{
    font-size: 1.85rem;
    }

    .section-info-2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

}    
/* moblie-potrait-response */                                     
