/* This is a colour of headers */
:root{
    --header-color: #3A3A3A;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 50px auto;
}

.nav-name{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--header-color);
 }              /* customization of INFLUENCER */

.nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    transform: 1s;
}                 /* Home-Sign in-log In */
.nav-img-1, .nav-img-2{
    width: 40px;
    height: 40px;
}
.nav-img-3, .nav-img-4{
    display: none;
    width: 40px;
    height: 40px;
}
.nav-option div a {
    text-decoration: none;
    color: var(--header-color);
    
}


@media screen and (max-width: 576px) {

    .nav-img-3,
    .nav-img-4{
    display: block;
    width: 24px;
    height: 24px;
    }
    .nav-option{
        display: none;
    }

    
}